<h3>"{{book.displayName}}" Book</h3>

<div ng-hide="book.fields">
  This book has no defined fields!<br>
  Click
  <span class="glyphicon glyphicon-wrench" ng-click="editBook(book.id)"></span>
  next to the button for this book to add them.
  <!-- Can also click the wrench icon here. -->
</div>

<!-- This toggles form visibility by
     setting the editing property on the scope. -->
<div ng-show="book.fields">
  <div id="collapse-form" ng-show="editing" ng-click="editing = false">
    &#x25bc; Collapse to hide add/edit area.
  </div>
  <div id="expand-form" ng-hide="editing" ng-click="editing = true">
    &#x25b6; Expand to add/edit items.
  </div>
</div>

<!-- This is only visible when adding or editing an item. -->
<form id="viewBook" name="viewBook" class="form-horizontal" novalidate
  ng-show="editing && book.fields">
  <div class="form-group" ng-repeat="field in book.fields">
    <label class="col-sm-2 control-label">
      {{field.displayName}}
    </label>
    <div class="col-sm-4" ng-switch on="inputType(field)">
      <!-- If the input type is "color",
           use the custom color picker directive. -->
      <div ng-switch-when="color" cb-color-picker
        color="item[field.propertyName]"></div>

      <!-- For all other input types, use an HTML5 input element. -->
      <!-- TODO: Would like to add the cb-digits-only directive when
           the type is "integer", but there isn't a good way to do it. -->
      <input ng-switch-default type="{{inputType(field)}}"
        placeholder="{{field.placeholder}}"
        ng-class="inputClass(field)"
        ng-model="item[field.propertyName]"
        ng-required="field.required"
        autofocus="{{$index === 0}}">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <button class="btn btn-default" ng-click="addOrUpdateItem()"
        ng-disabled="viewBook.$invalid">
        {{editing ? 'Update' : 'Add'}}
      </button>
      <!-- TODO: Warn user if they attempt to navigate away
           without saving changes. -->
      <span class="error-box">
        Changes are not persisted until this button is pressed!
      </span>
    </div>
  </div>
  <hr>
</form>

<table ng-show="book.fields">
  <!-- This row displays field names and
       supports sorting rows on any single field. -->
  <tr>
    <th ng-repeat="field in book.fields">
      <a href="" ng-click="sortOn(field)">{{field.displayName}}</a>
      <span ng-show="field === sortField && !reverse">&#x25b2;</span>
      <span ng-show="field === sortField && reverse">&#x25bc;</span>
    </th>
    <th>Delete</th>
  </tr>

  <!-- This row provides case-insensitive filtering for every field. -->
  <tr>
    <th class="filter" ng-repeat="field in book.fields">
      <input type="text" ng-model="filter[field.propertyName]" placeholder="filter">
    </th>
    <th></th>
  </tr>

  <!-- There will be one of these rows for each item in the book.
       These rows are filtered and sorted according the what
       the user requested in the above two rows.
       If the user clicks anywhere in one of these rows,
       the corresponding item is displayed
       in the form at the top for editing. -->
  <tr ng-repeat="(index, item) in items | objToArr | filter:filter | orderBy:sortKey:reverse"
    ng-click="editItem(item)">
    <td ng-repeat="field in book.fields" ng-class="getFieldClass(field)">
      {{item[field.propertyName]}}
    </td>
    <td class="delete-btn">
      <span class="glyphicon glyphicon-remove" ng-click="deleteItem(item)"></span>
    </td>
  </tr>
</table>
